<!-- Este archivo ahora solo actúa como un contenedor.
     template-loader.js se encargará de llenarlo con el contenido de las pestañas. -->

<!-- Pestaña de Comercios -->
<div id="Comercios" class="tabcontent">
    <!-- Contenido cargado desde templates/tabs/comercio-gestion.html -->
</div>

<!-- Pestaña de Categorías -->
<div id="Categorias" class="tabcontent">
    <!-- Contenido cargado desde templates/tabs/categories-gestion.html -->
</div>

<!-- Pestaña de Productos -->
<div id="Productos" class="tabcontent">
    <!-- Contenido cargado desde templates/tabs/products-gestion.html -->
</div>

<!-- Pestaña de Usuarios -->
<div id="Usuarios" class="tabcontent">
    <!-- Contenido cargado desde templates/tabs/usuarios-gestion.html -->
</div>