<header>
    <!-- Botón de Hamburguesa para móvil -->
    <button id="menu-toggle" class="menu-toggle-btn">
        &#9776; <!-- Símbolo de hamburguesa -->
    </button>

    <h1>Panel de Administración</h1>

    <div class="header-controls">
        <div id="comercioSelector">
            <label for="selectComercio">Comercio:</label>
            <select id="selectComercio">
                <option value="">-- Seleccione --</option>
            </select>
            <span id="currentComercioInfo"></span>
        </div>

        <!-- Contenedor para el botón de cerrar sesión -->
        <div class="auth-buttons-container">
            <button id="logoutButton" class="logout-btn">Cerrar Sesión</button>
        </div>
    </div>
</header>